<ion-view view-title="รายชื่อห้องที่พบ" id="playlists">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <a ng-click="goBackState()" class="button button-icon icon ion-android-arrow-back"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="spacer" style="height: 2px;"></div>
    <ion-list>
      <div class="list" align="center">
        <p>วันที่เข้าใช้งาน : {{sday}}</p>
        <p>จำนวนผู้ใช้งาน : {{ALL.Support}}</p>
      </div>
      <ion-item ng-repeat="datas in ALL">
        <div class="list">
          <div class="item item-button-right item-text-wrap">
            <h3>{{datas.Roomname}}</h3>
            <p>รายละเอียดของห้อง : {{datas.detail}}</p>
            <button class="button button-outline button-positive" ng-click="reserved(datas)">จองห้องนี้</button>
          </div>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
